.search-name div{
    width: 50%;
    
}
.search-name {
    display:flex;
    justify-content:center;
    margin-top: 60px;
    max-width: 100%;
    
    
}

.search-name input {
    width: 100%;
   
}

.search-name button {
    padding: 0px;
}



